@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import 'styles';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f2029;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 3%;
    overflow-x: hidden;
}

#results {
    text-align: center;
    padding: 0 10px;
}

/* Add top padding to avoid overlap with the navbar */
.header-content {
    padding-top: 60px; /* Adjust this value to match the height of the navbar */
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
}

/* Navigation links */
.navbar a, .dropbtn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

.dropdown {
    position: relative;
    float: left;
}

/* Dropdown button */
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
    left: 0;
    top: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: lightgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color on hover */
.navbar a:hover, .dropdown-content a:hover, .dropbtn:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
}

.footer img {
    width: 40px;
    height: auto;
    margin: 5px;
    transition: transform 0.15s ease;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.footer img:hover {
    transform: scale(1.2);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 0 15px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    text-align: left;
    padding: 0 15px;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .header-content {
        padding-top: 80px; /* Ensure content clears the navbar on smaller screens */
        text-align: center; /* Center-align all content within this section */
    }

    h1 {
        font-size: 22px;
        margin: 10% 0;
        line-height: 1.4;
    }

    h2 {
        font-size: 20px;
        padding: 0 10px;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
    }

    #results, form {
        width: 90%;
        padding: 0 10px;
        margin: 0 auto; /* Centers the form and results */
        text-align: center; /* Center text content within the form */
    }

    input[type="text"], select, button {
        width: 100%;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 8px;
        text-align: center; /* Centers text inside input fields */
    }
}

